h1 {
  font-weight:bold;
  color: green;
}

h2 {
  text-align: center;
  color: red;
  font-style: italic;
}

ul {
  background-color:black;
  padding:20px;
  color: white;
}
li {
  background-color:green;
}
p {
  font-family: cursive;
  font-size: 20px;
  line-height: 25px;
}
